.policy {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.95);
  &.show {
    z-index: 160;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
    overflow: hidden;
  }
  &__wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    height: 80vh;
    padding: 40px;
    width: 100%;
    max-width: 626px;
    //  height: 1000px;
    //  height: 517px;
    background-color: #faf9f6;
    border-radius: 10px;
    @media (max-width: $mobile) {
      padding: 24px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }

  &__body {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    padding-right: 10px;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(252, 242, 242, 0.92);
    }

    &::-webkit-scrollbar-thumb {
      background: $black;
      border-radius: 8px;
      transition: 0.2s;

      &:hover {
        background: #393a3cb3;
      }
    }
  }

  &__block {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    font-family: 'TTBold';
    margin-bottom: 24px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__name {
    font-size: 20px;
    font-family: 'TTMedium';
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 5px;
  }

  &__list {
    list-style-type: circle;
    margin: 15px 0px;
  }

  &__element {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 15px;
    font-size: 18px;
    line-height: 120%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__time {
  }
}
